{% extends 'base.html.twig' %}

{% block title %}SnowTricks - Mot de passe oublié{% endblock %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-5 bg-light my-5 p-5 border border-dark">
        <div class="text-center color-perso2">
			<h3>Mot de passe oublié</h3>
		</div>

        {{ form_start(formView, {'attr': { 'novalidate': 'novalidate' }}) }}

		<div class="row">
			<div class="col">
				{{ form_row(formView.email) }}
			</div>
		</div>

        <div class="text-center">
            <button type="submit" class="btn text-white bg-perso2 mb-3">
                Demander la réinisialisation
            </button>
        </div>

        {{ form_end(formView) }}
    </div>
</div>
{% endblock %}