{% for comment in trick.comments | slice(start, start + 5) %}
	<div class="row mx-auto">
		<div class="col-md-10 col-12 mx-auto row">
			<span class="border p-2 m-2">
				{{ comment.content }}
			</span>
		</div>
	</div>
{% endfor %}
