{% extends "base.html.twig" %}

{% block title %}
	SnowTricks - Modifier la figure
{% endblock %}

{% block body %}
    <h1>Modifier la figure {{ trick.name }}</h1>

    {{ form(formView) }}
{% endblock %}
