{# <div class="text-center mt-3">
	<button type="button" class="btn text-white btn-lg bg-perso2" id="loadmorecomments">
		<i class="fas fa-spinner"></i>
		Afficher plus de commentaires
	</button>
</div>

{% block javascripts %}
	<script>
		var click = 0;

		function loadMoreComments(event) {
			event.preventDefault();
			click ++;
			var start = 5 * click;
			const url = "{{ path('loadmorecomments') }}/" + start;

			axios.get(url).then(function (response) {
				console.log(response);
				var comments = document.getElementById('comments');
				tricks.insertAdjacentHTML('beforeend', response.data);

			}).catch(function (error) {
				if (response.status === 403) {
					console.log("Vous n'êtes pas autorisé à effectuer cette action !");
				} else if (response.status === 404) {
					console.log("La page appelé n'existe pas");
				} else {
					console.log("Une erreur est survenue !");
				}
			});
		}

		document.getElementById("loadmorecomments").addEventListener("click", loadMoreTricks);
	</script>
{% endblock %}     #}