body {
  font-family: 'open-sans';
  text-align: justify;
}

.break {
  flex-basis: 100%;
  height: 0;
}

/* media queries */
@media only screen and (max-width: 768px) { 
	#trickMedia {
		display: none;
  }

	#seeMedia {
		display: block;
    margin: 0 auto;
	}
}

@media only screen and (min-width: 768px) { 
	#seeMedia {
		display: none;
	}
}

/* background color palette */
.bg-perso1 {
  background-color: #b7c8d5;
}

.bg-perso2 {
  background-color: #2d4250;
}

.bg-perso3 {
  background-color: #d37e43;
}

.bg-perso4 {
  background-color: #7e4626;
}

/* text color palette */
.color-perso1 {
  color: #b7c8d5;
}

.color-perso2 {
  color: #2d4250;
}

.color-perso3 {
  color: #d37e43;
}

.color-perso4 {
  color: #7e4626;
}

/* formatting header */
.jumbotron {
  background: url('/img/home.jpg') no-repeat center center;
  background-size: cover;
  height: 100vh;
  margin-top: -48px;
}

#header h1 {
  font-size: 45px !important;
  text-shadow: #d37e43 0.1em 0.1em 0.1em;
}

#header h4 {
  font-size: 22px !important;
}

header .container-fluid {
  height: 100%;
}

.header-arrow {
  text-align: right;
  margin-top: -40px;
  padding: 0 10px;
}

/* formatting lien */
a {
  font-size: 16px;
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
  color: #2d4250 !important;
}

a.pencil {
  margin: auto 0;
}

a:hover,
.trash:hover {
  color: #7e4626 !important;
}

/* formatting trick */
.card-img-overlay {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#trick h4 {
  font-size: 30px !important;
  text-shadow: #2d4250 0.1em 0.1em 0.1em;
  height: 100vh;
  margin: auto;
}

#trick a,
#tricks a {
  color: #2d4250;
  padding: 0 10px;
}

#trick .card-body {
  z-index: 1000;
}

.picture {
  height: 150px;
  width: 300px;
}

/* formatting image */
.avatar {
  width: 40px;
}
