{% extends 'base.html.twig' %}

{% block title %}SnowTricks - Connexion{% endblock %}

{% block body %}
	<div class="row justify-content-center">
		<div class="col-xs-12 col-sm-8 col-md-6 col-lg-5 bg-light mt-2 mb-2 p-4 border border-dark">
			<form method="post">
            	<div class="text-center color-perso2">
				    <h3>Connexion</h3>
			    </div>

				{% if error %}
					<div class="alert alert-danger">
						{{ error.messageKey|trans(error.messageData, 'security') }}
					</div>
				{% endif %}

                <div class="form-group mb-3">
				    <label for="inputEmail">Email de l'utilisateur</label>
				    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" 
                    class="form-control" autocomplete="email" required autofocus>
                </div>

                <div class="form-group mb-3">
                	<label for="inputPassword">Mot de passe</label>
				    <input type="password" name="password" id="inputPassword" class="form-control" 
                    autocomplete="current-password" required>
                </div>

                <div class="form-group mb-3">
                	<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                </div>

				{#
				    Uncomment this section and add a remember_me option below your firewall to 
                    activate remember me functionality.
				    See https://symfony.com/doc/current/security/remember_me.html
				
				    <div class="checkbox mb-3">
				        <label>
				            <input type="checkbox" name="_remember_me"> Remember me
				        </label>
				    </div>
				#}

                <div class="text-center">
                	<button type="submit" class="btn text-white bg-perso2">
					    Se connecter
				    </button>
                </div>
			</form>
		</div>
	</div>
{% endblock %}
