{% extends "base.html.twig" %}

{% block title %} SnowTricks - Accueil {% endblock %}

{% block body %}
	<h1>SNOWTRICKS</h1>
	<p>Site communautaire de figures de snowboard</p>

	<div class="row mb-3">
		{% for t in tricks %}
			<div class="col-3 mb-3">
				<div class="card">
					<img src={{ t.mainPicture }} class="img-fluid" alt="Image de la figure">
					<div class="card-body">
						<a href="#" class="card-link">{{ t.name }}</a>
						<span class="badge badge-info">{{ t.category.name }}</span>
					</div>
				</div>
			</div>
        {% endfor %}
	</div>

	<div class="d-grid gap-2 text-center">
		<button class="btn btn-lg btn-primary" type="button">Afficher plus</button>
	</div>
{% endblock %}
